h1{
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    background-image: url("images/pattern.webp");
    text-align: center;
    opacity: 0.5;
}

body{
    font-family: Helvetica, sans-serif;
}

img{
    width: 300px;
    height: 300px;
}

.price{
    color: blue;
    font-weight: bold;
    display: inline;
}

.inline{
    display: inline;
}

.title{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

strong{
    display: block;
}

